*{box-sizing:border-box;font-family:Arial;margin:0;padding:0}

body.dark{background:#111;color:white}
body.light{background:white;color:black}

.topo{display:flex;justify-content:center;align-items:center;gap:20px;padding:15px}

.titulo{text-align:center}

.btn-dark{font-size:22px;padding:10px 16px;border-radius:8px}

.container{max-width:700px;margin:auto;padding:20px}

input,textarea,select{
width:100%;
padding:12px;
margin-bottom:10px;
border-radius:8px;
border:1px solid #555;
background:#222;
color:white;
}

.req{color:red}

.erro{color:red;font-size:12px}

.btn-principal{
display:block;
margin-top:15px;
padding:14px;
background:#00c853;
border:none;
border-radius:10px;
text-align:center;
}

.progresso{
width:100%;
height:14px;
background:#333;
border-radius:10px;
margin:15px 0;
}

#barraProgresso{
height:100%;
width:0%;
background:#00e676;
border-radius:10px;
}

footer{text-align:center;padding:25px}
