body{
font-family: Arial, sans-serif;
margin:0;
background:#0f172a;
color:white;
}

.topo{
text-align:center;
padding:30px;
background:#020617;
}

.principal{
padding:30px;
text-align:center;
}

.botao{
display:inline-block;
padding:12px 25px;
background:#22c55e;
color:white;
text-decoration:none;
border-radius:8px;
margin-top:20px;
}

.formulario{
max-width:600px;
margin:auto;
padding:20px;
}

input, textarea{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:6px;
border:none;
}

.obg{color:red;}

.progresso{
height:10px;
background:#1e293b;
border-radius:10px;
overflow:hidden;
}

#barra{
height:100%;
width:0;
background:#22c55e;
transition:.4s;
}

footer{
text-align:center;
padding:20px;
background:#020617;
margin-top:40px;
}

footer a{
color:white;
margin:10px;
text-decoration:none;
}

.pagina{
max-width:800px;
margin:auto;
padding:30px;
}

.meta{
height:20px;
background:#1e293b;
border-radius:10px;
overflow:hidden;
}

.metaBarra{
width:0%;
height:100%;
background:#22c55e;
}

@media(max-width:600px){
body{font-size:16px}
}
